body {
    background: #000 !important;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: #2C2C2C;
    padding: 10px;
    border-radius: 10px;
    width: 400px !important;
}

.form {
    background: #444444;
    color: #fff;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
}